.simple-link {
  font-size: 16px;
  color: $white;
  background-color: transparent;
  font-weight: 700;
  i {
    color: $white;
  }
  &.green {
    color: $color;
  }
  &.underline {
    text-decoration: underline !important;
  }
  &:hover {
    color: $color;
    text-shadow: $text-shadow;
    i {
      color: $color;
    }
  }
}
.reg-btn {
  background-color: $white;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: $black;
  border: none;
  padding: 5px 15px;
  border-radius: 12px;
  border: 2px solid $white;
  text-transform: uppercase;
  font-family: $Nasalization;
  min-width: 180px;
  @media (max-width: 1200px) {
    min-width: 160px;
    font-size: 16px;
  }
  @include trans;
  i {
    color: $white;
    @include trans;
    position: relative;
  }
  &:hover {
    background-color: $black;
    color: $color !important;
    box-shadow: $box-shadow;
    border-color: $color;
    i {
      right: -5px;
    }
  }
  &:disabled {
    background-color: $white;
    box-shadow: none;
    border-color: $black !important;
    opacity: 0.5;
    color: $black;
    cursor: not-allowed;
    i {
      right: -5px;
    }
  }
  &.w-loader {
    justify-content: center;
    display: flex;
    overflow: hidden;
    // padding-left: 70px;
    position: relative;
    font-size: 14px;
    min-width: 160px;
    border: 2px solid transparent !important;
    @media (max-width: 1200px) {
      font-size: 12px;
      min-width: 140px;
    }
    @media (max-width: 991px) {
      font-size: 14px;
      min-width: 160px;
    }
    span {
      color: $white;
      @include trans;
    }
    &:hover {
      border: 2px solid $color !important;
      span {
        color: $color;
      }
    }
    &:before {
      position: absolute;
      content: 'Alpha';
      font-family: $Nasalization;
      color: $white;
      background-color: $color;
      right: -12px;
      top: 6px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      transform: rotate(45deg);
      padding-top: 1px;
      padding-bottom: 0px;
    }
    .ribben2 {
      right: 0px;
      top: -4px;
      width: 45px;
      transform-origin: top;
      transform: rotate(-6deg);
    }
  }

  @media (max-width: 575px) {
    font-size: 14px;
    padding: 6px 15px;
    // padding-left: 70px !important;
  }
  &.mid {
    padding: 7px 10px;
    min-width: 160px;
    @media (max-width: 991px) {
      min-width: 140px;
      font-size: 14px;
    }
  }
  &.trans {
    background-color: transparent;
    color: $color;
    border-color: $color;
    border: 2px solid;
  }
  &.trans-white {
    background-color: transparent;
    color: $white;
    border-color: $white;
    border: 2px solid;
    &:hover {
      color: $color;
      border-color: $color;
      background-color: $black;
    }
  }
  &.empty {
    padding: 0;
    background-color: transparent;
    border: none;
    &:hover {
      box-shadow: none;
    }
  }
  &.contestbtn {
    font-family: sans-serif;
    font-size: 16px;
  }
  &.claimrewardbtn{
   margin-right: 10px;
   @media (max-width: 991px) and (min-width: 768px){
    margin-bottom: 0 !important;
  }
  @media (max-width: 768px){
    margin-bottom: 15px ;
  }
  }
}

.dropdown {
  &.trans {
    button {
      background-color: transparent;
    }
  }
  &.red {
    button {
      border-color: $color;
      color: $color;
      font-weight: 500;
      i {
        color: $color;
      }
      &::after {
        display: none;
      }
      &:hover {
        background-color: $color;
        color: $white;
        box-shadow: $box-shadow;
        i {
          color: $white;
        }
      }
    }
  }
  .dropdown-menu {
    padding: 20px;
    background-color: #3a3a3a !important;
    width: 260px;
    border: 1px solid $color;
    border-radius: 10px;
    a {
      color: $color;
      padding: 7px 10px;
      font-size: 14px;
      &:hover {
        background-color: $color;
        color: $white;
      }
    }
  }
}
.dropdown-menu a:hover .svg-icon path {
  fill: white !important;
}
.reg-custom-btn {
  background-color: unset !important;
  // color: white !important;
  text-decoration: underline !important;
  font-size: 14px;
  @media (max-width: 1500px) {
    font-size: 12px;
  }
}
.gradient-btn {
  background: $gradient;
  padding: 11.5px;
  border-radius: 10px;
  color: $white;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  border: none;
}
button.transparent,
a.transparent {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  outline: none;
  color: $white;
  font-size: 16px;
  i {
    color: $white;
  }
  &:hover {
    color: $color;
    background-color: transparent;
    i {
      color: $color;
    }
  }
}
button.trans {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  &:hover {
    background-color: transparent;
  }
}
.connect-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 12px 18px;
  border-radius: 14px;
  .rgb {
    font-size: 22px;
    font-family: $Roboto;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    &.II {
      background: linear-gradient(
        90deg,
        #fbb03b 0%,
        #f15a24 33%,
        #ed1e79 70%,
        #5a2784 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &.NFID {
      background: linear-gradient(
        90deg,
        #cb5cdc 0%,
        #407df5 33%,
        #09d6f9 70%,
        #3dedd7 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &:hover {
    background-color: $white;
  }
}
.matchesBtns {
  a {
    min-width: 118px !important;
    @media (max-width: 1500px) {
      min-width: unset !important;
    }
  }
}

@media (max-width: 377px) {
  .cencelbtn {
    margin-top: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
.discord_btn {
  background-color: transparent !important;
  color: white !important;
  font-size: 16px !important;
}

.custome-close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #ffffff;
  z-index: 5;
  font-size: 22px;
  background-color: transparent;
  border: none;
  &:hover,
  &:focus,
  &:active,
  &:disabled {
    background-color: transparent;
    border: none;
    i {
      color: $color;
    }
  }
}
.balanceInput {
  position: relative;
  input {
    &:active,
    &:focus {
      ~ .maxValueBtn {
        color: #3a3a3a;
      }
    }
  }
  .maxValueBtn {
    position: absolute;
    right: 34px;
    top: 45px;
    text-decoration: underline;
    cursor: pointer;
  }
}
