$black: #000000;
$white: #ffffff;
$lightblack: #1d1d1d;
$color: #00f654;
$grey: #323232;
$dark-grey: #3a3a3a;
$lightgrey: #bdbcbc;
$green: #85ffae;
$bordercolor: #474747;
$redcolor: #ff4f42;

$blue: #071f40;
$lightblue: #0066cc;
$anotherblue: #1c2334;
$rgba: rgba(13, 4, 3, 0.88);
