.footer {
  background-color: $lightblack;
  padding-top: 30px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  text-align: center;
  @media (max-width: 991px) {
    padding-top: 20px;
  }
  @media (max-width: 767px) {
    padding-top: 10px;
  }
  // @media (max-width: 767px) {
  //   text-align: center;
  //   padding-bottom: 400px;
  // }
  // @media (max-width: 575px) {
  //   padding-bottom: 280px;
  // }
  .footer-logo {
    max-width: 250px;
  }
  p {
    color: $white;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 0 10px;
    text-align: center;
    @media (max-width: 991px) {
      font-size: 14px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
    @media (max-width: 575px) {
      font-size: 12px;
    }
  }
  h3 {
    color: $white;
    font-family: $Nasalization;
    position: relative;
    text-transform: uppercase;
    top: -20px;
    @media (max-width: 767px) {
      margin-bottom: 0;
      top: -15px;
    }
    span {
      color: $color;
    }
  }
  h6 {
    color: $color;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    margin-top: 15px;
    @media (max-width: 1500px) {
      font-size: 18px;
    }
    @media (max-width: 991px) {
      font-size: 16px;
    }
  }
  .footer-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 0px;
    margin-top: 0px;
    justify-content: center;
    @media (max-width: 991px) {
      margin-top: 20px;
    }
    @media (max-width: 767px) {
      flex-wrap: wrap;
      margin-top: 0;
    }
    li {
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 0px;
      @media (max-width: 575px) {
        margin-right: 10px;
        margin-left: 10px;
      }
      a {
        font-size: 18px;
        color: $white;
        margin-bottom: 10px;
        font-family: $Nasalization;
        text-transform: uppercase;
        @media (max-width: 1500px) {
          font-size: 14px;
        }
        @media (max-width: 575px) {
          font-size: 12px;
        }
        &:hover {
          color: $color;
          text-shadow: $text-shadow;
        }
      }
    }
  }
  
  .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    text-align: left;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    @media (max-width: 991px) {
      padding-bottom: 100px;
    }
    
    @media (max-width: 767px) {
      padding-bottom: 80px;
    }
    img {
      max-width: 250px;
      @media (max-width: 1200px) {
        max-width: 180px;
      }
      @media (max-width: 991px) {
        max-width: 160px;
      }
      @media (max-width: 767px) {
        max-width: 200px;
      }
      @media (max-width: 575px) {
        max-width: 170px;
      }
      @media (max-width: 450px) {
        max-width: 130px;
      }
    }
    p {
      font-size: 16px;
      margin: 0;
      text-transform: uppercase;
      font-family: $Nasalization;
      @media (max-width: 1500px) {
        font-size: 14px;
      }
      @media (max-width: 767px) {
        margin-bottom: 15px;
        font-size: 14px;
      }
    }
  }
  &.animate {
    p,
    ul li,
    form,
    .footer-bottom {
      @include trans;
      @include animation-anime(transdown, 1s, linear);
    }
    h6 {
      @include trans;
      @include animation-anime(transup, 1s, linear);
    }
  }
}
.foter-text {
  font-weight: 300 !important;
}
.flex-align-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (max-width: 767px) {
    flex-wrap: wrap;
    p {
      order: 1;
      width: 100%;
      text-align: center;
    }
    img {
      &:nth-last-of-type(1) {
        order: 3;
      }
      &:nth-last-of-type(2) {
        order: 2;
      }
    }
  }
}
