.profile-header {
  padding-top: 0px;
  position: relative;
  // .bg-layer {
  //   background-image: url('https://fantasy-extreme-assets.s3.us-east-005.backblazeb2.com/bg/profile-bg.png');
  //   opacity: 0.5;
  //   background-repeat: no-repeat;
  // }
  // &:before {
  //   position: absolute;
  //   content: '';
  //   left: 0;
  //   right: 0;
  //   bottom: 190px;
  //   background-image: url('https://fantasy-extreme-assets.s3.us-east-005.backblazeb2.com/bg/round.png');
  //   background-repeat: no-repeat;
  //   background-position: center center;
  //   z-index: 2;
  //   height: 202px;
  //   @media (max-width: 1200px) {
  //     height: 120px;
  //     background-size: auto 100%;
  //     bottom: 165px;
  //   }
  //   @media (max-width: 991px) {
  //     bottom: 112px;
  //   }
  //   @media (max-width: 767px) {
  //     bottom: 98px;
  //     height: 70px;
  //   }
  //   @media (max-width: 430px) {
  //     bottom: 50px;
  //     height: 90px;
  //   }
  // }
  // &:after {
  //   position: absolute;
  //   content: '';
  //   left: 0;
  //   right: 0;
  //   bottom: -2px;
  //   z-index: 2;
  //   height: 202px;
  //   background-color: black;
  //   @media (max-width: 1200px) {
  //     height: 170px;
  //   }
  //   @media (max-width: 991px) {
  //     height: 130px;
  //   }
  //   @media (max-width: 767px) {
  //     height: 100px;
  //   }
  //   @media (max-width: 430px) {
  //     height: 80px;
  //   }
  // }
  .profile-info {
    display: flex;
    position: relative;
    z-index: 4;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    text-align: center;
    position: relative;
    @media (max-width: 1200px) {
      margin-top: 120px;
    }
    @media (max-width: 991px) {
      margin-top: 100px;
    }
    @media (max-width: 767px) {
      margin-top: 80px;
    }
    @media (max-width: 991px) {
      .reg-btn {
        font-size: 12px;
        min-width: auto;
      }
    }
    @media (max-width: 991px) {
      flex-direction: column;
      .reg-btn:not(.claimrewardbtn) {
        margin-bottom: 15px;
      }
    }
    @media(min-width:992px){
      .mobile-view-nft{
        display: none;
      }
    }
    .mobile-view-nft{
      position: absolute;
      right: 0;top: 0;

      h6{width: 100%;margin-left: 0;justify-content: center;}
    }
    .profile-info {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;

      @media (max-width: 1200px) {
        margin-top: 0px;
      }
      @media (max-width: 991px) {
        margin-bottom: 60px;
      }
      h4 {
        font-family: $Nasalization;
        text-align: center;
        width: 100%;
        text-align: center;
        margin: 0;
      }
      h5 {
        color: $white;
        width: 100%;
        font-weight: 300;
      }
      .profile-picture {
        position: relative;
        span {
          position: absolute;
          right: 15px;
          bottom: 10px;
          z-index: 10;
          font-size: 30px;
          color: $black;
          border-radius: 50%;
          display: flex;
          backdrop-filter: blur(10px);
          padding: 10px;
          justify-content: center;
          align-items: center;
          background: rgba(255, 255, 255, 0.5);
          border: 3px solid $black;
          @include trans;
          cursor: pointer;
          i {
            font-size: 22px;
          }
          @media (max-width: 1200px) {
            padding: 10px;
            font-size: 26px;
            right: 10px;
            bottom: 10px;
            i {
              font-size: 26px;
            }
          }
          @media (max-width: 991px) {
            padding: 5px;
            font-size: 20px;
            right: 10px;
            bottom: 10px;
            i {
              font-size: 20px;
            }
          }
          &:hover {
            background-color: $color;
          }
        }
      }
      img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin: 0 auto 15px;

        @media (max-width: 767px) {
          width: 150px;
          height: 150px;
        }
        @media (max-width: 430px) {
          width: 110px;
          height: 110px;
        }
      }
    }
  }
  h6 {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid $color;
    border-radius: 25px;
    color: $white;
    font-size: 18px;
    padding: 5px 15px;
    display: inline-flex;
    align-items: center;
    @media (max-width: 991px) {
      font-size: 14px;
      margin-left: 5px;
      margin-right: 5px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      padding: 5px 10px;
    }
    @media (max-width: 575px) {
      font-size: 12px;
      padding: 5px 5px;
      border-width: 1px;
    }
    img {
      max-width: 24px;
      margin-right: 5px;
      @media (max-width: 767px) {
        max-width: 15px;
      }
    }
  }
  .dashboard-btn-cntnr{
    display: flex;
    justify-content: end;
    width: 100%;
    @media (max-width: 991px) {
      flex-wrap: wrap;
      padding-left: 15px;
      align-items: flex-start;
      max-width: calc(100% - 180px);
    }

    @media (max-width: 767px) {
      max-width: calc(100% - 140px);
      h4{font-size: 20px;}
    }
    @media (max-width: 575px) {
      max-width: calc(100% - 100px);
      h4{font-size: 16px;}
    }
  }
  .right-pnl {
    width: calc(100% - 200px);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    @media (max-width: 1500px) {
      width: calc(100% - 190px);
      padding-left: 10px;
    }
    @media (max-width: 991px) {
      width: 100%;
      padding-left: 0px;
    }
    .ml-4 {
      margin-left: 15px;
    }
  }
  .right-pnl.nft-0 {
    @media (max-width: 991px) {
      width: 100%;
      padding-left: 0;
    }
    .text-pnl{width: 100%;}  
  }
  .text-pnl {
    width: calc(100% - 200px);
    text-align: left;
    padding-left: 30px;
    padding-right: 20px;
    @media (max-width: 1500px) {
      width: calc(100% - 180px);
      padding-left: 0px;
    }
    @media (max-width: 1200px) {
      width: calc(100% - 200px);
    }
    @media (max-width: 991px) {
      width: 100%;
      padding-left: 00px;
      padding-right: 0;
    }
    @media (max-width: 767px) {
      width: 100%;
      padding-left: 0;
    }
    h5 {
      font-size: 19px;
      @media (max-width: 1500px) {
        font-size: 16px;
      }
      @media (max-width: 1200px) {
        font-size: 14px;
      }
      @media (max-width: 991px) {
        font-size: 12px;
      }
      @media (max-width: 767px) {
        font-size: 19px;
      }
      @media (max-width: 575px) {
        font-size: 14px;
      }
    }
    img,
    svg {
      @media (max-width: 767px) {
        max-width: 30px;
        max-height: 30px;
      }
    }
    .custom_margin {
      @media (max-width: 767px) {
        margin-top: 10px !important;
      }
    }
  }
.nft-details-container{
  width: 100%;
  display: inline-block;
  @media (max-width: 991px) {
    display: flex;
    justify-content: space-between;
  }
}
  .nft-pnl {
    width: 200px;
    position: relative;
    margin-bottom: 15px;
    // @media(max-width:991px){
    //   position: absolute;
    //   right: 0;top:-260px;
    //   img{max-height: 260px;}
    // }
    @media(min-width:992px){
      &.web-wali{
        display: none;
      }
    }
    span {
      position: absolute;
      right: 15px;
      bottom: 5px;
      border: 2px solid $color;
      border-radius: 50%;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      color: $white;
      font-size: 18px;
    }
    @media (max-width: 1500px) {
      width: 180px;
    }
    @media (max-width: 767px) {
      width: 140px;
    }
    @media (max-width: 575px) {
      width: 100px;
      span{
        width: 25px;
        height: 25px;
        font-size: 14px;
        right: 7px;

      }
    }
  }
}
.total-stat-list {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  margin-top: 20px;
  margin-bottom: 30px;
  @media (max-width: 575px) {
    // flex-direction: column;
    padding-bottom: 20px;
  }
  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 420px;
    height: 30px;
    border-left: 3px solid;
    border-top: 3px solid;
    border-color: $color;
    z-index: -1;
    max-width: 100%;
    @media (max-width: 767px) {
      border-left: 2px solid;
      border-top: 2px solid;
      width: 180px;
      border-color: $color;

    }
  }
  &:after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    width: 300px;
    height: 30px;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-color: $color;
    z-index: -1;
    max-width: 100%;
    @media (max-width: 767px) {
      border-right: 2px solid;
      border-bottom: 2px solid;
      border-color: $color;

      width: 180px;
    }
  }

  li {
    list-style: none;
    text-align: center;
    width: 33.3333%;
    padding: 30px 15px;
    @media (max-width: 991px) {
      padding: 30px 5px;
    }
    @media (max-width: 767px) {
      padding: 30px 5px 20px;
    }
    @media (max-width: 575px) {
      // width: 100%;
      padding: 30px 15px 0px;
    }
    h5 {
      color: rgba(141, 141, 141, 1);
      font-weight: 700;
      @media (max-width: 1200px) {
        font-size: 20px;
      }
      @media (max-width: 991px) {
        font-size: 16px;
      }
      @media (max-width: 575px) {
        font-size: 14px;
      }
    }
    span {
      color: $white;
      font-size: 40px;
      font-weight: 700;
      @media (max-width: 1200px) {
        font-size: 40px;
      }
      @media (max-width: 991px) {
        font-size: 32px;
      }
      @media (max-width: 575px) {
        font-size: 28px;
      }
    }
  }
}

.dashboard-table-header {
  display: flex;
  justify-content: space-between;
  @media (max-width: 575px) {
    flex-wrap: wrap;
  }
  .right {
    display: flex;
    gap: 10px;
    align-items: center;
    @media (max-width: 575px) {
      flex-wrap: wrap;
      margin-top: 15px;
      .reg-btn {
        width: 100%;
      }
    }
    select {
      min-width: 150px;
    }
  }
}
