.content-pnl {
  padding-top: 100px;
  padding-bottom: 50px;
  min-height: calc(100vh - 250px);
  @include trans;
  @include animation-anime(transdown, 1s, linear);
}

// Upcoming Panel
.upcoming-match-board {
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.14);
  border-radius: 40px;
  background-color: $white;
  padding: 20px;
  margin-top: 30px;
  @media (max-width: 767px) {
    margin-top: 0;
  }
  @media (max-width: 575px) {
    padding: 10px;
  }
  h4 {
    margin-left: 30px;
  }
  table {
    margin-top: 50px;
    th {
      color: #48494a;
      font-size: 18px;
      font-weight: 700;
      border: none;
      text-transform: uppercase;
    }
    td {
      border-bottom: 0;
      border-top: 1px solid;
      border-color: #e8e8e8;
      color: $lightblue;
      padding-bottom: 15px;
      p {
        margin: 0;
        color: #6c6d6f;
        font-size: 16px;
      }
      span {
        color: $lightblue;
        font-size: 16px;
        margin-right: 15px;
      }
    }
  }
  .calender-panel {
    background: #f9f9f9;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    .calender-carousle {
      width: calc(100% - 50px);
    }
    .calender-list {
      display: flex;
      list-style: none;
      margin: 0;
      justify-content: space-between;
      width: 100%;
      text-align: center;
      padding: 0 70px;
      text-transform: uppercase;
      li a {
        height: 80px;
        width: 80px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      p {
        margin: 0;
        font-size: 14px;
        color: #48494a;
      }
      span {
        margin: 0;
        font-size: 12px;
        color: #48494a;
      }
      li a:hover,
      li a.active {
        background-color: $color;
        p,
        span {
          color: $white;
        }
      }
    }
    .carousel-control-next,
    .carousel-control-prev {
      opacity: 1;
      width: auto;
      width: 12px;
      height: 12px;
      top: 38px;
      filter: invert(50%);
    }
    .carousel-indicators {
      display: none;
    }
  }
}
// Upcoming Panel

// Player Selection Panel
.player-selection-panel {
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.14);
  border-radius: 20px;
  background-color: $white;
  padding: 20px;
  @media (max-width: 575px) {
    padding: 20px 15px;
  }
  h4 {
    font-size: 20px;
    font-weight: 700;
    margin-left: 0;
    margin-bottom: 10px;
  }
  label {
    color: $blue;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
  }
  input {
    height: 50px;
    border-color: $blue;
  }
}

.point-board {
  background: $gradient;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
  @media (max-width: 575px) {
    text-align: center;
  }
  h2 {
    font-size: 26px;
    color: $white;
    font-weight: 700;
    margin: 0;
  }
  h6 {
    font-size: 16px;
    font-weight: 400;
    color: $white;
    opacity: 0.8;
  }
  .total-panel {
    background: $blue;
    border-radius: 10px;
    padding: 15px 0;
    @media (max-width: 575px) {
      padding: 15px 0 5px;
    }
    ul {
      display: flex;
      justify-content: center;
      margin: 0;

      @media (max-width: 575px) {
        flex-direction: column;
      }
      li {
        width: 33.3333%;
        list-style: none;
        text-align: center;
        @media (max-width: 575px) {
          width: 100%;
          margin-bottom: 10px;
        }
        h3,
        h5,
        p {
          color: $white;
          margin: 0;
          font-weight: 500;
        }
        p {
          font-size: 15px;
        }
        h3 {
          font-weight: 700;
          font-size: 30px;
        }
        h5 {
          font-size: 20px;
        }
      }
    }
  }
  .prize-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    max-width: 500px;
    margin: 20px auto 0;
    li {
      margin: 0 15px;
      list-style: none;
      font-size: 18px;
      font-weight: 700;
      color: $white;
      text-transform: uppercase;
      @media (max-width: 1200px) {
        font-size: 14px;
      }
      @media (max-width: 991px) {
        font-size: 18px;
      }
      @media (max-width: 767px) {
        font-size: 16px;
      }
      @media (max-width: 575px) {
        font-size: 14px;
      }
    }
  }
}
.heading {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.format-btn-cntnr {
  @media (max-width: 575px) {
    text-align: center;
  }
  label {
    font-size: 18px;
    color: $blue;
    font-weight: 500;
    margin: 0;
  }
  .dropdown {
    button {
      width: 150px;
      background-color: $white;
      border: 1px solid $color !important;
      border-color: $blue;
      font-size: 22px;
      color: $color;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:active,
      &:focus {
        color: $color;
        background-color: $white;
      }
      @media (max-width: 575px) {
        margin: 10px auto 20px;
      }
    }
    .dropdown-menu a {
      font-size: 18px;
      font-weight: 500;
    }
  }
  input {
    width: 150px;
    border-color: $blue;
    font-size: 22px;
    color: $color;
    &:focus {
      color: $color;
    }
    @media (max-width: 575px) {
      margin: 10px auto 20px;
    }
  }
  ul {
    display: flex;
    list-style: none;
    @media (max-width: 575px) {
      justify-content: center;
    }
    li {
      margin-left: 15px;
      @media (max-width: 575px) {
        margin-left: 7.5px;
        margin-right: 7.5px;
      }
      a {
        text-transform: uppercase;
      }
    }
  }
}

.player-game-section {
  display: inline-block;
  border-radius: 30px;
  position: relative;
  background: linear-gradient(90deg, #e3edeb 0%, #d4dddb 100%);
  padding: 20px 20px 20px;
  width: 100%;
  max-width: 85%;
  margin: 20px auto 180px;
  @media (max-width: 1200px) {
    max-width: 100%;
  }
  @media (max-width: 575px) {
    padding: 10px;
    margin-bottom: 0;
  }
  img {
    border-radius: 20px;
  }
  .goal-postition-pnl {
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: -170px;
    background: $gradient;
    border-radius: 30px;
    padding: 30px 10px 20px;
    @media (max-width: 1200px) {
      padding: 20px 10px 0px;
    }
    @media (max-width: 767px) {
      left: 15px;
      right: 15px;
    }
    @media (max-width: 575px) {
      position: relative;
      left: unset;
      right: unset;
      bottom: unset;
    }
    ul {
      display: flex;
      justify-content: space-between;
      @media (max-width: 575px) {
        flex-direction: column;
        display: inline-block;
        width: 100%;
      }
      li,
      .li {
        width: 25%;
        list-style: none;
        padding: 0 10px;
        @media (max-width: 1200px) {
          padding: 0 5px;
        }
        @media (max-width: 991px) {
          padding: 0 10px;
        }
        @media (max-width: 767px) {
          padding: 0 5px;
        }
        @media (max-width: 575px) {
          width: 50%;
          display: inline-block;
          margin-bottom: 15px;
        }
        h3 {
          font-size: 22px;
          color: $white;
          font-weight: 500;
          @media (max-width: 1200px) {
            font-size: 18px;
          }
          @media (max-width: 991px) {
            font-size: 22px;
          }
          @media (max-width: 767px) {
            font-size: 18px;
          }
        }
        .goal-playe-post {
          background-color: $white;
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          min-height: 200px;
          h5 {
            color: $blue;
            margin: 0;
            font-size: 20px;
            @media (max-width: 1200px) {
              font-size: 16px;
            }
            @media (max-width: 991px) {
              font-size: 20px;
            }
            @media (max-width: 767px) {
              font-size: 16px;
            }
          }
          h6 {
            color: $color;
            margin: 0;
            font-weight: 700;
            font-size: 32px;
            @media (max-width: 1200px) {
              font-size: 24px;
            }
            @media (max-width: 991px) {
              font-size: 32px;
            }
            @media (max-width: 767px) {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
  &.small {
    max-width: 100%;
    margin-top: 0;
    .ground .ground-match-list li .img-pnl {
      img {
        max-width: 90px;
      }
    }
    .goal-postition-pnl ul li,
    .goal-postition-pnl ul .li {
      padding: 0 5px;
      img {
        max-width: 80%;
      }
      h3 {
        font-size: 15px;
      }
      h5 {
        font-size: 13px;
      }
      h6 {
        font-size: 18px;
      }
      .goal-playe-post {
        min-height: 120px;
      }
    }
    .ground {
      height: 600px;
      .ground-match-list li {
        margin-bottom: 30px;
        .img-pnl {
          img {
            max-width: 70px;
          }
          h6 {
            width: auto;
            padding: 5px;
            font-size: 12px;
            left: 0;
          }
        }
      }
    }
  }
}
.ground {
  // background-image: url(../assets/old-images/ground-bg.png);
  width: 100%;
  height: 910px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  @media (max-width: 575px) {
    height: 800px;
  }
  .ground-match-list {
    display: inline-block;
    width: 100%;
    padding: 80px 20px 0;
    li {
      width: 100%;
      list-style: none;
      margin-bottom: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .img-pnl {
        position: relative;
        h6 {
          position: absolute;
          left: -18px;
          right: 0;
          bottom: -17px;
          font-size: 16px;
          font-weight: 600;
          border-radius: 15px;
          border: 1px solid rgba(255, 255, 255, 0.5);
          color: #ffffff;
          width: 115px;
          padding: 5px 15px;
          span {
            display: inline-block;
            width: 100%;
          }
          &::before {
            position: absolute;
            content: '   ';
            border-radius: 15px;
            filter: blur(1px);
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: rgba(255, 255, 255, 0.2);
          }
        }
      }
    }
  }
}

// Overall Points Panel
.overall-panel {
  display: inline-block;
  width: 100%;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.14);
  .overall-head {
    display: inline-block;
    width: 100%;
    background-color: $blue;
    border-radius: 25px 25px 0 0;
    padding: 20px 20px;
    h2 {
      margin: 0;
      font-size: 28px;
      font-weight: 700;
      color: $color;
    }
    h6 {
      margin: 0;
      color: $white;
      font-weight: 400;
      font-size: 16px;
    }
  }
  .overall-body {
    padding: 15px 15px 5px;
    .points-list {
      display: flex;
      flex-direction: column;
      margin: 0;
      li {
        background-color: #eeeeee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 10px;
        p {
          font-size: 18px;
          margin: 0;
          font-weight: 600;
          color: $blue;
        }
      }
    }
  }
  &.v2 {
    box-shadow: none;
    border-radius: 0;
    .overall-body {
      // padding: 0;
    }
  }
}
// Overall Points Panel
